# Magic Carpet Plus installation containing CARPET.EXE and LEVELS/
MC1_PATH="/path/to/Magic Carpet Plus"

# Magic Carpet 2 installation used as the output template
MC2_PATH="/path/to/Magic Carpet 2"

# Converted installation destination. The converter will not modify either source.
OUTPUT_PATH="/path/to/MagicBalls-MC1"

# Used when neither --level nor --all is supplied.
DEFAULT_LEVEL=0

VERBOSE=true
